.room-list {
  height: calc(100% - 3.5rem);
  margin-bottom: $spacing-03;
  position: relative;
  overflow: auto;
}
.no-rooms {
  @include type-style('productive-heading-02');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
