.message-list {
  height: calc(100% - 7.5rem);
  position: relative;
  margin-bottom: $spacing-01;
  margin-top: $spacing-01;
  overflow-y: auto;
  padding: $spacing-03;
  background-color: $carbon--gray-10;
}
.no-messages {
  @include type-style('productive-heading-02');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
