.room-info-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: $layout-05;
  background-color: $carbon--gray-80;
  color: $carbon--white-0;
  padding: $spacing-03;
}
.room-info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  cursor: pointer;
}
.room-info-name {
  @include type-style('productive-heading-01');
}
.room-info-message-count {
  @include type-style('body-short-01');
}
.room-info-back-btn {
  margin-right: $spacing-03;
}
@media (min-width: 1056px) {
  .room-info-back-btn {
    display: none !important;
  }
}
