.messages-container {
  margin: 0 auto;
  height: calc(100vh - 2rem);
  height: calc(var(--vh, 1vh) * 100 - 2rem); /* for mobile */
  display: none;
}
.rooms-container {
  height: calc(100vh - 2rem);
  height: calc(var(--vh, 1vh) * 100 - 2rem); /* for mobile */
  margin: 0 auto;
  display: none;
}
.flex {
  display: flex;
  align-items: center;
}
.messages-container.active {
  display: block;
}
.rooms-container.active {
  display: block;
}
@media (min-width: 1056px) {
  .messages-container {
    display: block;
  }
  .rooms-container {
    display: block;
  }
}
