.room {
  cursor: pointer;
  height: 80px;
  margin-bottom: $spacing-03;
  padding: 0.5rem;
  position: relative;
}

.room-grid {
  display: grid;
  grid-template-areas:
    'img title date close'
    'img lastmsg count close';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: $spacing-03;
  align-items: center;
  justify-items: center;
}

.room-grid-img {
  grid-area: img;
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 50%;
}
.room-grid-title {
  grid-area: title;
  justify-self: start;
}
.room-grid-date {
  grid-area: date;
  @include type-style('body-short-01');
}
.room-grid-lastmsg {
  grid-area: lastmsg;
  justify-self: start;
}
.room-grid-count {
  grid-area: count;
}

.room-grid-close {
  grid-area: close;
  display: none;
}
.room-selected .room-grid-close {
  fill: $carbon--white-0;
}
.room-grid-close:hover {
  background-color: $carbon--gray-20;
}
.room-selected .room-grid-close:hover {
  background-color: $carbon--blue-60;
}
.room:hover .room-grid-close {
  display: block;
}

.room-title {
  margin: 0;
  @include type-style('productive-heading-02');
  margin-right: $spacing-03;
}

.room-name {
  @include type-style('productive-heading-01');
  margin-right: $spacing-03;
}
.room-text {
  @include type-style('body-short-01');
}
.room-selected {
  background: $carbon--blue-50;
  color: $carbon--white-0;
}

.room-selected .room-grid-img {
  border: 1px solid $carbon--gray-20;
}

.room:hover {
  background: $carbon--gray-10;
}
.room.room-selected:hover {
  background: $carbon--blue-50;
}
.room-selected svg.copy-btn {
  fill: white;
}
.copy-tooltip-container {
  position: relative;
}
.copy-tooltip {
  display: none;
}
.copy-tooltip.click {
  @include type-style('body-short-01');
  display: block;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  content: attr(aria-label);
  z-index: 100;
  background-color: $inverse-02;
  border-radius: rem(2px);
  color: $inverse-01;
  padding: $spacing-01 $spacing-03;
  border-width: 0 rem(4px) rem(5px) rem(4px);
  border-color: transparent transparent $inverse-02 transparent;
  @include layer('overlay');
}
.copy-tooltip-arrow {
  position: absolute;
  display: none;
  width: 7px;
  height: 7px;
  background-color: $inverse-02;
  border-color: transparent transparent $inverse-02 transparent;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.copy-tooltip-arrow.click {
  display: block;
}
