.message-container {
  width: 100%;
  margin-bottom: $spacing-03;
  overflow: hidden;
  clear: both;
  padding: 2px;
}
.message {
  border-radius: 1rem;
  padding: $spacing-03;
  white-space: normal;
  max-width: 45%;
  width: 500px;
  min-width: 20%;
  box-sizing: border-box;
  cursor: pointer;
}
.message-sender {
  background-color: $carbon--gray-90;
  color: $carbon--white-0;
  border-bottom-right-radius: 0;
  float: right;
}
.message-sender:hover {
  background-color: rgba(38, 38, 38, 0.8);
}
.message-recipient {
  background-color: $carbon--white-0;
  color: $carbon--gray-100;
  border-top-left-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  float: left;
}
.message-recipient:hover {
  background-color: $carbon--gray-30;
}
.message-user {
  @include type-style('productive-heading-01');
}
.message-text {
  @include type-style('body-short-02');
  margin: $spacing-03 auto;
}
.message-time {
  @include type-style('label-01');
}
